[Desktop Entry]
Type=Application
Name=Eclipse
Comment=Eclipse Integrated Development Environment
Exec=/home/hud/Programs/eclipse-oxyigen/eclipse/eclipse
Icon=/home/hud/Programs/eclipse-oxyigen/eclipse/icon.png
Terminal=false
Categories=Development;IDE;Java;
